.page{
  background: url("../../assets/images/gui/grass.png");
}

#info{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex{
  position: absolute;
  width: 96px;
  height: 109px;

  &.own{
    .hex_inner {
      background-image: url("../../assets/images/gui/hex_own.png");
    }
  }
  &.enemy {
    .hex_inner {
      background-image: url("../../assets/images/gui/hex_enemy.png");
    }
  }

  .hex_inner{
    position: absolute;
    width: 96px;
    height: 109px;
    z-index: 100;
    transition: 0.1s all ease-out;
    cursor: pointer;
    background-image: url("../../assets/images/gui/hex.png");

    &.moving{
      z-index: 1000;
    }

    &:hover{
      background-image: url("../../assets/images/gui/hex_hover.png");
    }

    &.active{
      background-image: url("../../assets/images/gui/hex_active.png");
    }
    &.selected{
      background-image: url("../../assets/images/gui/hex_active.png");
      z-index: 1000000;
    }

  }

}

.map{
  background: url("../../assets/images/gui/grass.png");
  position: absolute;
  top:20px;
  left:0px;
  min-width: 100vw;
}

.info{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 100000000;
  pointer-events: none;
  width: 100vw;

  transition:1s bottom, opacity, right ease-in;

  &.left{
    bottom: -210px;
    right:-250px;
    opacity: 0.7;
  }

  .info_panel{
    display: flex;
    flex-wrap: wrap;
    z-index: 10000;
    justify-content: space-around;
    letter-spacing: -2px;
    .information{
      width: 33%;

      &.big{
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
      }
      &.medium{
        width: 60%;
      }
    }
  }

}

.unit_image{
  position: relative;
  bottom: 150px;
  right: -200px;
  width: 190px;
  height: 250px;
  z-index: 50;
  transition: 0.1s all ease-in;
  &.cavalry{
    background-image: url("../../assets/images/units/single/cavalry.png");
  }
  &.king{
    background-image: url("../../assets/images/units/single/king.png");
  }
  &.axemen{
    background-image: url("../../assets/images/units/single/axemen.png");
  }
  &.swordman{
    background-image: url("../../assets/images/units/single/swordman.png");
  }
}

.ornament{
  width: 100vw;
  height: 48px;
  pointer-events: none;
  z-index: 1000;
  background: url("../../assets/images/gui/wood.png") repeat-x;

  &.top{
    position: fixed;
    top: -13px;
  }
  &.bottom{
    position: fixed;
    bottom: -23px;
  }
}

.next_turn{
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: right;
  z-index: 2000;
}