.page{
  background: url("../../assets/images/gui/grass.png");
}

#info{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex{
  position: absolute;
  width: 96px;
  height: 109px;
  color: white;

  &.own{
    .hex_inner {
      background-image: url("../../assets/images/gui/hex_own.png");
    }
  }
  &.enemy {
    .hex_inner {
      background-image: url("../../assets/images/gui/hex_enemy.png");
    }
  }

  .hex_inner{
    position: absolute;
    width: 96px;
    height: 109px;
    z-index: 100;
    transition: 0.1s all ease-out;
    cursor: pointer;
    background-image: url("../../assets/images/gui/hex.png");

    &.moving{
      z-index: 1000;
    }

    &.hover:hover{
      background-image: url("../../assets/images/gui/hex_hover.png");
    }

    &.active{
      background-image: url("../../assets/images/gui/hex_active.png");
    }
    &.selected{
      background-image: url("../../assets/images/gui/hex_active.png");
      z-index: 1000000;
    }

  }

}

.map{
  background: url("../../assets/images/gui/grass.png");
  position: absolute;
  top:20px;
  left:0px;
  min-width: 100vw;
}

.info{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 100000000;
  pointer-events: none;
  width: 100vw;

  transition:1s bottom, opacity, right ease-in;

  &.left{
    bottom: -210px;
    right:-250px;
    opacity: 0.7;
  }

  .adhesion{
    width: 129px;
    height: 129px;
    position: absolute;
    z-index: 1000000;
    margin-top: 15px;
    margin-right: 33px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #e6efff;

    &.forest{
      background-image: url("../../assets/images/units/forest.png");
      top: -52px;
      right: 98px;
      text-shadow: 0 0 9px #a24853;
      margin-top: 35px;
      height: 90px;
      margin-bottom: 39px;
    }
    &.rock{
      background-image: url("../../assets/images/units/rock.png");
      top: -52px;
      right: 12px;
      text-shadow: 0 0 9px #006aa2;
    }
  }

  .info_panel{
    display: flex;
    flex-wrap: wrap;
    z-index: 10000;
    justify-content: space-around;
    letter-spacing: -2px;
    .information{

      &.bouns{
        //color: #1a873a;
        color: #00c311;
        text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.3);
      }

      width: 33%;

      &.big{
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
      }
      &.medium{
        width: 60%;
      }
    }
  }

}

.unit_image{
  position: relative;
  bottom: 150px;
  right: -200px;
  width: 190px;
  height: 250px;
  z-index: 50;
  transition: 0.1s all ease-in;
  &.cavalry{
    background-image: url("../../assets/images/units/single/cavalry.png");
  }
  &.king{
    background-image: url("../../assets/images/units/single/king.png");
  }
  &.axemen{
    background-image: url("../../assets/images/units/single/axemen.png");
  }
  &.swordman{
    background-image: url("../../assets/images/units/single/swordman.png");
  }
  &.archer{
    background-image: url("../../assets/images/units/single/archer.png");
  }
}

.ornament{
  width: 100vw;
  height: 48px;
  pointer-events: none;
  z-index: 1000;
  background: url("../../assets/images/gui/wood.png") repeat-x;

  &.top{
    position: fixed;
    top: -13px;
  }
  &.bottom{
    position: fixed;
    bottom: -23px;
  }
}

.next_turn{
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: right;
  z-index: 2000;
}

.turn_info{
  position: absolute;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .gui.basic{
    font-size: 51px;
    color: #de0f34;
  }
}

.finish{

  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 10000000000;
  justify-content: center;
  align-items: center;
  text-align: center;


  .link{
    font-size: 2em;
    color: #f8fdf6;
    text-decoration: none;
  }
  .link:hover{
    color: #fd8c81;
  }

  &.win{
    background: #0b76cc;
    .text{
      font-size: 4em;
      color: #50ed76;
    }
  }

  &.lose{
    background: #011823;
    .text{
      font-size: 4em;
      color: #ba3f3b;
    }
  }

}