.hex_image{
  position: absolute;
  z-index: 1000;
  transition: 0.6s opacity ease-in;
  pointer-events: none;

  .used{
    opacity: 0.4;
  }
}
.unit{
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: relative;
  top: 0px;
  transition: 0.3s all linear;
  //pointer-events: none;

  &.cavalry{
    background-image: url("../../assets/images/units/cavalry.png");
    &.active{
      background-image: url("../../assets/images/units/cavalry_active.png");
    }
  }

  &.axemen{
    background-image: url("../../assets/images/units/axemen.png");
    &.active{
      background-image: url("../../assets/images/units/axemen_active.png");
    }
  }

  &.swordman{
    background-image: url("../../assets/images/units/swordmen.png");
    &.active{
      background-image: url("../../assets/images/units/swordmen_active.png");
    }
  }

  &.king{
    background-image: url("../../assets/images/units/king.png");
    &.active{
      background-image: url("../../assets/images/units/king_active.png");
    }
  }

  &.archer{
    background-image: url("../../assets/images/units/archer.png");
    &.active{
      background-image: url("../../assets/images/units/archer_active.png");
    }
  }

  &.rock{
    background-image: url("../../assets/images/units/rock.png");
    width: 120px;
    height: 131px;
    left: -10px;
    top:-10px;
    pointer-events: none;
  }
  &.forest{
    background-image: url("../../assets/images/units/forest.png");
    width: 120px;
    height: 131px;
    pointer-events: none;
  }

}

.move_arrow{
  background-size: cover;
  position: absolute;
  pointer-events: none;
  z-index: 1;

  &.move{
    background-image: url("../../assets/images/gui/arrows_move.png");
  }
  &.enemy{
    background-image: url("../../assets/images/gui/arrows_enemy.png");
  }

  &.leftup{
    background-position: 0 0;
    width: 45px;
    height: 70px;
    left: -12px;
    top: -40px;
  }

  &.rightup{
    background-position: -60px 0;
    width: 45px;
    height: 70px;
    left: 65px;
    top: -36px;
  }

  &.leftdown{
    background-position: -114px 0;
    width: 53px;
    height: 70px;
    left: -16px;
    top: 77px;
  }

  &.rightdown{
    background-position: -171px 0;
    width: 53px;
    height: 70px;
    left: 59px;
    top: 78px;
  }

  &.left{
    background-position: -228px 0;
    width: 83px;
    height: 70px;
    left: -67px;
    top: 28px;
  }

  &.right{
    background-position: -304px 0;
    width: 78px;
    height: 70px;
    left: 79px;
    top: 28px;
  }


}

.animation{
  background-image: url("../../assets/images/gui/hex_icons.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  position: absolute;
  top:20px;
  left:20px;
  pointer-events: none;

  &.plusAp{
    background-position: 0px 0px;
  }
  &.damage{
    background-position: -60px 0px;
  }
  &.dodge{
    background-position: -125px 0px;
    .animation_info{
      top: 28px;
      font-size: 19px;
    }
  }

  .animation_info{
    color: #fff9fc;
    left: -11px;
    top: -6px;
    text-align: center;
    width: 80px;
    position: absolute;
    font-size: 30px;
    text-shadow: 0px 0px 5px #000000;
  }
}

.inRange{
  background: url("../../assets/images/gui/bow.png") no-repeat;
  width: 120px;
  height: 120px;
  position: absolute;
  top:-5px;
  left:-10px;
}

@keyframes arrow_play {
  0% { background-position: 0px; }
  100% { background-position: -400px; }
}
.arrow_animation{
  width: 100px;
  height: 100px;
  position: absolute;
  background: url('../../assets/images/gui/arrows.png') left center;
  animation: arrow_play 1s steps(4) infinite;
}


.adhesion_hex{
  position: absolute;
  width: 100px;
  height: 100px;
  pointer-events: none;
  z-index: 10000;
  display: flex;
  justify-content: flex-end;
  //&.rock{
  //  //background-image: url("../../assets/images/gui/hex_rock.png");
  //  left: 61px;
  //  top:-0px;
  //}
  //
  //&.forest{
  //  //background-image: url("../../assets/images/gui/hex_forest.png");
  //  left: 81px;
  //  top:0px;
  //}
}

.health{
  position: absolute;
  background: url("../../assets/images/gui/heart_bg.png");
  width: 40px;
  height: 37px;
  display: flex;
  opacity: 0;
  justify-content: flex-end;
  z-index: 1000;
  transition: 0.2s opacity ease-in;

  .heart{
    background: url("../../assets/images/gui/heart.png");
    width: 40px;
    height: 37px;
    position: absolute;
    left: 0;
  }

  .text{
    width: 40px;
    height: 37px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }
}

.hex_inner:hover{
  .health{
    opacity: 1;
  }
}

.onHover{
  opacity: 0;
  transition: 0.2s opacity ease-in;
}

.hex_inner:hover{
  .onHover{
    opacity: 1;
  }
}
