.hex_image{
  position: absolute;
  z-index: 1000;

  &.used{
    opacity: 0.4;
  }
}
.unit{
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: relative;
  top: 0px;
  transition: 0.15s all ease-out;

  &.cavalry{
    background-image: url("../../assets/images/units/cavalry.png");
    &.active{
      background-image: url("../../assets/images/units/cavalry_active.png");
    }
  }

  &.axemen{
    background-image: url("../../assets/images/units/axemen.png");
    &.active{
      background-image: url("../../assets/images/units/axemen_active.png");
    }
  }

  &.swordman{
    background-image: url("../../assets/images/units/swordmen.png");
    &.active{
      background-image: url("../../assets/images/units/swordmen_active.png");
    }
  }

  &.king{
    background-image: url("../../assets/images/units/king.png");
    &.active{
      background-image: url("../../assets/images/units/king_active.png");
    }
  }

}