.page{
  background-color: #4b3933;
  //background-image: url("../assets/images/backgrounds/splash.png");
  //background-size: cover;
  //background-position: center center;
}

.heroes{
  background: url("../assets/images/backgrounds/heros_splash.png") no-repeat;
  background-size: contain;
  background-position: right center;
  width: 100vw;
  height: 70%;
  position: absolute;
  left:0;
  bottom: -206px;
  z-index: 10;
}

.logo{
  background: url("../assets/images/backgrounds/logo.png") no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100vw;
  height: 30%;
  position: absolute;
  left:0;
  top: -206px;
  z-index: 10;
}

.menu{
  position: absolute;
  bottom: 100px;
  width: 50vw;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  z-index: 100;
}
.margindown{
  margin-bottom: -27px;
}

.credits{
  width: 100vw;
  height: 100vh;
  color: #c3dc00;

  //font-family: sans-serif;
  //font-size: 1.4em;
  a{
    color: #170450;
    text-decoration: none;
    &:hover{
      color: #0dfdff;
    }
  }

  h1{
    margin-left: 40px;
    margin-bottom: 0;
  }
  .sounds{
    position: absolute;
    left:0;
    top:0;
    width: 50vw;
    height: 100vh;
  }
  .music{
    position: absolute;
    left:50vw;
    top:0;
    width: 50vw;
    height: 100vh;
  }

}