.camp{
  width: 100vw;
  height: 800px;
  min-height: 100vh;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  &.full{
    min-height: 100vh;
  }
}

.tents{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.tents_column{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tent{
  width: 200px;
  height: 200px;

  .image{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    color: white;
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;


    text-shadow: 0 0 3px #000;
    &.lvl1{
      background-image: url("../../assets/images/camp/tent_lvl_1.png");
    }
    &.lvl2{
      background-image: url("../../assets/images/camp/tent_lvl_2.png");
    }
    &.lvl3{
      background-image: url("../../assets/images/camp/tent_lvl_3.png");
    }
    &.lvl4{
      background-image: url("../../assets/images/camp/tent_lvl_4.png");
    }
    &.lvl5{
      background-image: url("../../assets/images/camp/tent_king.png");
    }
  }

  background: none;

  &:hover{
    background: url("../../assets/images/camp/select.png");
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;
  }

  .text{
    margin-bottom: 7px;
  }
}

.wall{
  min-height: 100vh;
  padding-bottom: 30px;
  border: 66.6666667px solid transparent;
  border-top-width: 0;
  border-bottom-width: 0;
  border-image: url(../../assets/images/camp/wall.png) 70 fill repeat;
}

$battle_belt_height: 200px;

.battle_container{
  position: fixed;
  height: 100vh;
  width:100vw;
  background: rgba(31, 0, 0, 0.72);
  z-index: 100000;
}

.battle{
  position: fixed;
  top: calc(50vh - #{$battle_belt_height/2});
  height: $battle_belt_height;
  width: 100vw;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9e3333;
  box-shadow: 0 0 10px #737373;

  .text{
    font-size: $battle_belt_height/2;
    color: white;
  }

  .attack_button{
    background-image: url("../../assets/images/gui/attack.png");
    width:195px;
    height:200px;
    bottom: 30px;
    right: 30px;
    transition: 0.1s all ease-out;

    &:hover{
      background: url("../../assets/images/gui/attack_hover.png");
      cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;
    }
  }
}

.battle-transition{
  transition: 0.2s all ease-out;
  opacity: 1;

  .battle{
    transition: 0.2s all ease-out;
    left:0;
    transform: scale(1) rotate(0deg);
  }
}
.battle-enter, .battle-leave{
  opacity: 0;

  .battle{
    left:-100vw;
    transform: scale(0) rotate(30deg);
  }
}

.map_button{
  background-image: url("../../assets/images/gui/map.png");
  width:129px;
  height:75px;
  position: fixed;
  bottom: 30px;
  left: 10px;
  transition: 0.1s all ease-out;
  background-size: contain;

  z-index: 10001;


  &:hover{
    background-image: url("../../assets/images/gui/map_hover.png");
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;
  }
}

@keyframes cloud {
  from{
    left:-100vw;
  }
  to{
    left:200vw;
  }
}
.cloud{
  position: absolute;
  background: url("../../assets/images/gui/cloud.png") no-repeat;
  width:576px;
  height:256px;
  opacity: 0.5;
  background-size: contain;

  pointer-events: none;
  animation-name: cloud;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.health{
  position: absolute;
  background: url("../../assets/images/gui/heart_bg.png");
  width: 40px;
  height: 37px;
  display: flex;
  opacity: 0;
  justify-content: flex-end;
  z-index: 10000;
  transition: 0.2s opacity ease-in;
  left:10px;
  top:10px;

  .heart{
    background: url("../../assets/images/gui/heart.png");
    width: 40px;
    height: 37px;
    position: absolute;
    left: 0;
  }

  .text{
    width: 40px;
    height: 37px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }
}

.unit_image{
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  opacity: 0;
  justify-content: flex-end;
  z-index: 10000;
  transition: 0.1s all ease-in;
  right:10px;
  top:-10px;
  transform: rotate(-20deg);
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  &.cavalry{
    background-image: url("../../assets/images/units/single/cavalry.png");
  }
  &.king{
    background-image: url("../../assets/images/units/single/king.png");
  }
  &.axemen{
    background-image: url("../../assets/images/units/single/axemen.png");
  }
  &.swordman{
    background-image: url("../../assets/images/units/single/swordman.png");
  }
  &.archer{
    background-image: url("../../assets/images/units/single/archer.png");
  }
}

.tent:hover{
  .health{
    opacity: 1;
  }
  .unit_image{
    opacity: 1;
    transform: rotate(20deg);
    right:-40px;
    top:20px;
  }
}
