.camp{
  width: 100vw;
  height: 800px;
  min-height: 100vh;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  &.full{
    min-height: 100vh;
  }
}

.tents{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.tents_column{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tent{
  width: 200px;
  height: 200px;

  .image{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    color: white;
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;


    text-shadow: 0 0 3px #000;
    &.lvl1{
      background-image: url("../../assets/images/camp/tent_lvl_1.png");
    }
    &.lvl2{
      background-image: url("../../assets/images/camp/tent_lvl_2.png");
    }
    &.lvl3{
      background-image: url("../../assets/images/camp/tent_lvl_3.png");
    }
    &.lvl4{
      background-image: url("../../assets/images/camp/tent_lvl_4.png");
    }
    &.lvl5{
      background-image: url("../../assets/images/camp/tent_king.png");
    }
  }

  background: none;

  &:hover{
    background: url("../../assets/images/camp/select.png");
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;
  }

  .text{
    margin-bottom: 7px;
  }
}

.wall{
  min-height: 100vh;
  padding-bottom: 30px;
  border: 66.6666667px solid transparent;
  border-top-width: 0;
  border-bottom-width: 0;
  border-image: url(../../assets/images/camp/wall.png) 70 fill repeat;
}

$battle_belt_height: 200px;

.battle_container{
  position: fixed;
  height: 100vh;
  width:100vw;
  background: rgba(31, 0, 0, 0.72);
  z-index: 100000;
}

.battle{
  position: fixed;
  top: calc(50vh - #{$battle_belt_height/2});
  height: $battle_belt_height;
  width: 100vw;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9e3333;
  box-shadow: 0 0 10px #737373;

  .text{
    font-size: $battle_belt_height/2;
    color: white;
  }

  .attack_button{
    background-image: url("../../assets/images/gui/attack.png");
    width:195px;
    height:200px;
    bottom: 30px;
    right: 30px;
    transition: 0.1s all ease-out;

    &:hover{
      background: url("../../assets/images/gui/attack_hover.png");
      cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;
    }
  }
}

.battle-transition{
  transition: 0.2s all ease-out;
  opacity: 1;

  .battle{
    transition: 0.2s all ease-out;
    left:0;
    transform: scale(1) rotate(0deg);
  }
}
.battle-enter, .battle-leave{
  opacity: 0;

  .battle{
    left:-100vw;
    transform: scale(0) rotate(30deg);
  }
}

.map_button{
  background-image: url("../../assets/images/gui/map.png");
  width:198px;
  height:110px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: 0.1s all ease-out;


  &:hover{
    background: url("../../assets/images/gui/map_hover.png");
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;
  }
}

@keyframes cloud {
  from{
    left:-100vw;
  }
  to{
    left:200vw;
  }
}
.cloud{
  position: absolute;
  background: url("../../assets/images/gui/cloud.png") no-repeat;
  width:576px;
  height:256px;
  opacity: 0.5;
  background-size: contain;

  pointer-events: none;
  animation-name: cloud;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}