.camp{
  width: 100vw;
  height: 800px;
  min-height: 100vh;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  &.full{
    min-height: 100vh;
  }
}

.tent{
  width: 200px;
  height: 200px;

  .image{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    color: white;
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;


    text-shadow: 0 0 3px #000;
    &.lvl1{
      background-image: url("../../assets/images/camp/tent_lvl_1.png");
    }
    &.lvl2{
      background-image: url("../../assets/images/camp/tent_lvl_2.png");
    }
    &.lvl3{
      background-image: url("../../assets/images/camp/tent_lvl_3.png");
    }
    &.lvl4{
      background-image: url("../../assets/images/camp/tent_lvl_4.png");
    }
    &.lvl5{
      background-image: url("../../assets/images/camp/tent_king.png");
    }
  }

  background: none;

  &:hover{
    background: url("../../assets/images/camp/select.png");
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;
  }

  .text{
    margin-bottom: 7px;
  }
}

.wall{
  min-height: 100vh;
  padding-bottom: 30px;
  border: 66.6666667px solid transparent;
  border-top-width: 0;
  border-bottom-width: 0;
  border-image: url(../../assets/images/camp/wall.png) 70 fill repeat;
}

.attack_button{
  background-image: url("../../assets/images/gui/attack.png");
  width:195px;
  height:200px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: 0.1s all ease-out;

  &:hover{
    background: url("../../assets/images/gui/attack_hover.png");
    cursor: url("../../assets/images/gui/cursor_pointer.png"), auto;
  }
}