.options_container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
  background: rgba(0, 0, 0, 0.42);
}

.options{
}