body{
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
  overflow: hidden;
}
.page{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.gui{


  &.center{
    text-align: center;
  }

  &.basic{
    background-image: url("./assets/images/gui/basic.png");
    font-size: 24px;
    color: #27054c;
    transition: 0.2s all ease-out;

    &.hover:hover{
      background-image: url("./assets/images/gui/basic_hover.png");
      cursor: pointer;
      color: #ffffff;
    }
  }

  &.orange{
    background-image: url("./assets/images/gui/orange.png");
    font-size: 24px;
    color: #1e008e;
    font-weight: bold;
    transition: 0.2s all ease-out;

    &.hover:hover{
      background-image: url("./assets/images/gui/orange_hover.png");
      cursor: pointer;
      color: #0d374c;
    }
  }

  &.one{
    background-position: -17px 519px;
    width: 279px;
    height: 166px;
    padding: 52px 65px 8px 59px;
  }
  &.two{
    background-position: -511px 746px;
    width: 334px;
    height: 53px;
    padding: 42px 33px 44px 51px;
  }
  &.three{
    background-position: -523px 891px;
    width: 334px;
    height: 53px;
    padding: 42px 33px 44px 51px;
  }
  &.four{
    background-position: -119px -128px;
    width: 311px;
    height: 151px;
    padding: 62px 33px 44px 51px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 56px;
  }

  &.next_turn{
    background-image: url("./assets/images/gui/next_turn.png");
    width: 87px;
    height: 27px;
    padding: 32px 25px;
    letter-spacing: 3px;
    font-size: 16px;
    color: white;
    text-align: center;
    transition: 0.1s background-image ease-in;

    &:hover{
      background-image: url("./assets/images/gui/next_turn_hover.png");
      cursor: pointer;
    }
  }
}

.icon{

  display: inline-block;
  &.small{
    width: 30px;
    height: 30px;
  }

  background-image: url("./assets/images/gui/icons.png");

  &.sword{
    background-position: 0 0;
    background-size: cover;
  }
  &.shield{
    background-position: -30px 0;
    background-size: cover;
  }
  &.boots{
    background-position: -64px 0;
    background-size: cover;
  }
  &.arrow{
    background-position: -110px 0;
    background-size: cover;
  }
  &.heart{
    background-position: -152px 0;
    background-size: cover;
  }
}

.movein-transition{
  position: fixed;
  transition: 0.1s all ease-in;
  bottom: -42px;
  right: -11px;

}

.movein-enter, .movein-leave{
  bottom: -100px;
}

.movein_adhesion-transition{
  position: absolute;
  transition: 0.1s all ease-in;
  opacity: 1;
}

.movein_adhesion-enter, .movein_adhesion-leave{
  top: -100px;
  opacity: 0;
}

.opacity-transition{
  transition: 0.1s opacity ease-out;
  opacity: 1;

}

.opacity-enter, .opacity-leave{
  opacity: 0;
}

.showMyTurn-transition{
  transition: 0.3s all ease-out;
  opacity: 1;
  pointer-events: none;
  top:0;

}

.showMyTurn-enter, .showMyTurn-leave{
  opacity: 0;
  top:-100px;
}
