///* latin */
//@font-face {
//  font-family: 'Gloria Hallelujah';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(./assets/font/font.woff2) format('woff2');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
//}

body{
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
  overflow: hidden;

}

body *{
  cursor: url("./assets/images/gui/cursor.png"), auto;
}

.noselect *{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

}

.page{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.gui{
  display: block;
  text-decoration: none;

  &.center{
    text-align: center;
  }

  &.basic{
    background-image: url("./assets/images/gui/basic.png");
    font-size: 24px;
    color: #27054c;
    transition: 0.2s all ease-out;

    &.hover:hover{
      background-image: url("./assets/images/gui/basic_hover.png");
      cursor: url("./assets/images/gui/cursor_pointer.png"), auto;

      color: #ffffff;
    }
  }

  &.orange{
    background-image: url("./assets/images/gui/orange.png");
    font-size: 24px;
    color: #1e008e;
    font-weight: bold;
    transition: 0.2s all ease-out;

    &.hover:hover{
      background-image: url("./assets/images/gui/orange_hover.png");
      cursor: url("./assets/images/gui/cursor_pointer.png"), auto;
      color: #0d374c;
    }
  }

  &.blue{
    background-image: url("./assets/images/gui/basic_blue.png");
    font-size: 24px;
    color: #1e008e;
    font-weight: bold;
    transition: 0.2s all ease-out;

    &.hover:hover{
      background-image: url("./assets/images/gui/basic_hover.png");
      cursor: url("./assets/images/gui/cursor_pointer.png"), auto;
      color: #0d374c;
    }
  }

  &.one{
    background-position: -17px 519px;
    width: 279px;
    height: 166px;
    padding: 52px 65px 8px 59px;
  }
  &.two{
    background-position: -511px 746px;
    width: 334px;
    height: 53px;
    padding: 42px 33px 44px 51px;
  }
  &.three{
    background-position: -523px 891px;
    width: 334px;
    height: 53px;
    padding: 42px 33px 44px 51px;
  }
  &.four{
    background-position: -119px -128px;
    width: 311px;
    height: 151px;
    padding: 62px 33px 44px 51px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 56px;
  }
  &.five{
    background-position: -509px -327px;
    width: 287px;
    height: 151px;
    padding: 61px 49px 47px 104px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 56px;
  }
  &.six{
    background-position: -124px -15px;
    width: 332px;
    height: 50px;
    padding: 35px 27px 32px 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 56px;
    color: #001040;

    &.stack{
      margin-top: -20px;
    }
    &.moved{
      margin-left: 20px;
    }

  }

  &.next_turn{
    background-image: url("./assets/images/gui/next_turn.png");
    width: 87px;
    height: 27px;
    padding: 32px 25px;
    letter-spacing: 3px;
    font-size: 16px;
    color: white;
    text-align: center;
    transition: 0.1s background-image ease-in;

    &:hover{
      background-image: url("./assets/images/gui/next_turn_hover.png");
      cursor: url("./assets/images/gui/cursor_pointer.png"), auto;
    }
  }
}

.icon{

  display: inline-block;
  &.small{
    width: 30px;
    height: 30px;
  }

  background-image: url("./assets/images/gui/icons.png");

  &.sword{
    background-position: 0 0;
    background-size: cover;
  }
  &.shield{
    background-position: -30px 0;
    background-size: cover;
  }
  &.boots{
    background-position: -64px 0;
    background-size: cover;
  }
  &.arrow{
    background-position: -110px 0;
    background-size: cover;
  }
  &.heart{
    background-position: -152px 0;
    background-size: cover;
  }
  &.rock{
    background-position: -186px 0;
    background-size: cover;
  }
  &.forest {
    background-position: -218px 0;
    background-size: cover;
  }
}

.movein-transition{
  position: fixed;
  transition: 0.1s all ease-in;
  bottom: -42px;
  right: -11px;

}

.movein-enter, .movein-leave{
  bottom: -100px;
}

.movein_adhesion-transition{
  position: absolute;
  transition: 0.1s all ease-in;
  opacity: 1;
}

.movein_adhesion-enter, .movein_adhesion-leave{
  top: -100px;
  opacity: 0;
}

.opacity-transition{
  transition: 0.1s opacity ease-out;
  opacity: 1;

}

.opacity-enter, .opacity-leave{
  opacity: 0;
}

.showMyTurn-transition{
  transition: 0.3s all ease-out;
  opacity: 1;
  pointer-events: none;
  top:0;

}

.showMyTurn-enter, .showMyTurn-leave{
  opacity: 0;
  top:-100px;
}

.map{

  background: url("./assets/images/gui/grass.png");
  position: absolute;
  top:18px;
  left:0px;
  min-width: 100vw;
  min-height: 100vh;

  &.mud{
    background: url("./assets/images/gui/mud.png");
    .hex_inner{
      background-image: url("./assets/images/gui/hex_mud.png");
    }
  }

  &.lava{
    background: url("./assets/images/gui/lava.png");
    .hex_inner{
      background-image: url("./assets/images/gui/hex_bright.png");
    }
  }

}

.ornament{
  width: 100vw;
  height: 48px;
  pointer-events: none;
  z-index: 1000;
  background: url("./assets/images/gui/wood.png") repeat-x;

  &.top{
    position: fixed;
    top: -13px;
  }
  &.bottom{
    position: fixed;
    bottom: -23px;
  }
}

#loading{
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100000000000;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: wheat;
  font-size: 3em;
  //display: none;
}

.loading_container{
  margin: 5px;
  width: 340px;
  height: 15px;
  background: #292929;
  border: 1px solid #000000;

  .loading_progress{
    width: 0;
    height: 15px;
    background: #00b3ee;
  }
}

.back_to_menu{
  width: 90px;
  height: 48px;
  z-index: 1000;
  background: url("./assets/images/gui/menu_button.png") no-repeat;
  position: fixed;
  top:10px;
  left: 10px;

  &:hover{
    background: url("./assets/images/gui/menu_button_hover.png") no-repeat;
  }
}

.hidden{
  display: none;
}