.units-rock {
  background: url(./assets/images/units/rock.png)
}

.units-axemen {
  background: url(./assets/images/units/axemen.png)
}

.units-axemen_active {
  background: url(./assets/images/units/axemen_active.png)
}

.units-king_active {
  background: url(./assets/images/units/king_active.png)
}

.units-lava_rock {
  background: url(./assets/images/units/lava_rock.png)
}

.units-single-axemen {
  background: url(./assets/images/units/single/axemen.png)
}

.units-single-all {
  background: url(./assets/images/units/single/all.png)
}

.units-single-cavalry {
  background: url(./assets/images/units/single/cavalry.png)
}

.units-single-swordman {
  background: url(./assets/images/units/single/swordman.png)
}

.units-single-king {
  background: url(./assets/images/units/single/king.png)
}

.units-single-plague {
  background: url(./assets/images/units/single/plague.png)
}

.units-single-archer {
  background: url(./assets/images/units/single/archer.png)
}

.units-cavalry {
  background: url(./assets/images/units/cavalry.png)
}

.units-cavalry_active {
  background: url(./assets/images/units/cavalry_active.png)
}

.units-archer_active {
  background: url(./assets/images/units/archer_active.png)
}

.units-lava_forest {
  background: url(./assets/images/units/lava_forest.png)
}

.units-king {
  background: url(./assets/images/units/king.png)
}

.units-plague {
  background: url(./assets/images/units/plague.png)
}

.units-archer {
  background: url(./assets/images/units/archer.png)
}

.units-swordmen {
  background: url(./assets/images/units/swordmen.png)
}

.units-map-king {
  background: url(./assets/images/units/map/king.png)
}

.units-forest {
  background: url(./assets/images/units/forest.png)
}

.units-swordmen_active {
  background: url(./assets/images/units/swordmen_active.png)
}

.gui-rock {
  background: url(./assets/images/gui/rock.png)
}

.gui-coins {
  background: url(./assets/images/gui/coins.png)
}

.gui-hex_mud {
  background: url(./assets/images/gui/hex_mud.png)
}

.gui-hex_own {
  background: url(./assets/images/gui/hex_own.png)
}

.gui-wood {
  background: url(./assets/images/gui/wood.png)
}

.gui-heart_bg {
  background: url(./assets/images/gui/heart_bg.png)
}

.gui-grass {
  background: url(./assets/images/gui/grass.png)
}

.gui-purse {
  background: url(./assets/images/gui/purse.png)
}

.gui-map {
  background: url(./assets/images/gui/map.png)
}

.gui-attack_hover {
  background: url(./assets/images/gui/attack_hover.png)
}

.gui-info_block {
  background: url(./assets/images/gui/info_block.png)
}

.gui-info_hover {
  background: url(./assets/images/gui/info_hover.png)
}

.gui-orange {
  background: url(./assets/images/gui/orange.png)
}

.gui-upgrade_have {
  background: url(./assets/images/gui/upgrade_have.png)
}

.gui-cursor_pointer {
  background: url(./assets/images/gui/cursor_pointer.png)
}

.gui-test {
  background: url(./assets/images/gui/test.png)
}

.gui-basic_blue {
  background: url(./assets/images/gui/basic_blue.png)
}

.gui-info {
  background: url(./assets/images/gui/info.png)
}

.gui-info_block_hover {
  background: url(./assets/images/gui/info_block_hover.png)
}

.gui-cursor {
  background: url(./assets/images/gui/cursor.png)
}

.gui-arrows_enemy {
  background: url(./assets/images/gui/arrows_enemy.png)
}

.gui-mud {
  background: url(./assets/images/gui/mud.png)
}

.gui-menu_button {
  background: url(./assets/images/gui/menu_button.png)
}

.gui-map_tiles {
  background: url(./assets/images/gui/map_tiles.png)
}

.gui-map_tiles_blue {
  background: url(./assets/images/gui/map_tiles_blue.png)
}

.gui-orange_hover {
  background: url(./assets/images/gui/orange_hover.png)
}

.gui-map_hover {
  background: url(./assets/images/gui/map_hover.png)
}

.gui-upgrade {
  background: url(./assets/images/gui/upgrade.png)
}

.gui-upgrade_block {
  background: url(./assets/images/gui/upgrade_block.png)
}

.gui-hex_rock {
  background: url(./assets/images/gui/hex_rock.png)
}

.gui-hex_active {
  background: url(./assets/images/gui/hex_active.png)
}

.gui-bow {
  background: url(./assets/images/gui/bow.png)
}

.gui-menu_button_hover {
  background: url(./assets/images/gui/menu_button_hover.png)
}

.gui-arrows_move {
  background: url(./assets/images/gui/arrows_move.png)
}

.gui-hex {
  background: url(./assets/images/gui/hex.png)
}

.gui-upgrade_plus {
  background: url(./assets/images/gui/upgrade_plus.png)
}

.gui-map_tiles_brown {
  background: url(./assets/images/gui/map_tiles_brown.png)
}

.gui-build_tent_cancel_hover {
  background: url(./assets/images/gui/build_tent_cancel_hover.png)
}

.gui-heart {
  background: url(./assets/images/gui/heart.png)
}

.gui-arrows {
  background: url(./assets/images/gui/arrows.png)
}

.gui-build_tent_cancel {
  background: url(./assets/images/gui/build_tent_cancel.png)
}

.gui-next_turn_hover {
  background: url(./assets/images/gui/next_turn_hover.png)
}

.gui-hex_bright {
  background: url(./assets/images/gui/hex_bright.png)
}

.gui-next_turn {
  background: url(./assets/images/gui/next_turn.png)
}

.gui-foot_steps {
  background: url(./assets/images/gui/foot_steps.png)
}

.gui-attack {
  background: url(./assets/images/gui/attack.png)
}

.gui-build_tent_bg {
  background: url(./assets/images/gui/build_tent_bg.png)
}

.gui-hex_icons {
  background: url(./assets/images/gui/hex_icons.png)
}

.gui-map_tiles_green {
  background: url(./assets/images/gui/map_tiles_green.png)
}

.gui-cloud {
  background: url(./assets/images/gui/cloud.png)
}

.gui-lava {
  background: url(./assets/images/gui/lava.png)
}

.gui-manage_tent_ok_hover {
  background: url(./assets/images/gui/manage_tent_ok_hover.png)
}

.gui-basic {
  background: url(./assets/images/gui/basic.png)
}

.gui-manage_tent_ok {
  background: url(./assets/images/gui/manage_tent_ok.png)
}

.gui-map_tiles_red {
  background: url(./assets/images/gui/map_tiles_red.png)
}

.gui-manage_tent {
  background: url(./assets/images/gui/manage_tent.png)
}

.gui-hex_forest {
  background: url(./assets/images/gui/hex_forest.png)
}

.gui-basic_hover {
  background: url(./assets/images/gui/basic_hover.png)
}

.gui-manage_tent_ok_disabled {
  background: url(./assets/images/gui/manage_tent_ok_disabled.png)
}

.gui-hex_enemy {
  background: url(./assets/images/gui/hex_enemy.png)
}

.gui-upgrade_hover {
  background: url(./assets/images/gui/upgrade_hover.png)
}

.gui-build_tent {
  background: url(./assets/images/gui/build_tent.png)
}

.gui-icons {
  background: url(./assets/images/gui/icons.png)
}

.gui-arrow_right {
  background: url(./assets/images/gui/arrow_right.png)
}

.gui-forest {
  background: url(./assets/images/gui/forest.png)
}

.gui-hex_hover {
  background: url(./assets/images/gui/hex_hover.png)
}

.backgrounds-heros_splash {
  background: url(./assets/images/backgrounds/heros_splash.png)
}

.backgrounds-splash {
  background: url(./assets/images/backgrounds/splash.png)
}

.backgrounds-logo {
  background: url(./assets/images/backgrounds/logo.png)
}

.camp-tent_lvl_4 {
  background: url(./assets/images/camp/tent_lvl_4.png)
}

.camp-wall {
  background: url(./assets/images/camp/wall.png)
}

.camp-tent_lvl_1 {
  background: url(./assets/images/camp/tent_lvl_1.png)
}

.camp-tent_lvl_3 {
  background: url(./assets/images/camp/tent_lvl_3.png)
}

.camp-select {
  background: url(./assets/images/camp/select.png)
}

.camp-tent_king {
  background: url(./assets/images/camp/tent_king.png)
}

.camp-wall_bg {
  background: url(./assets/images/camp/wall_bg.png)
}

.camp-tent_lvl_2 {
  background: url(./assets/images/camp/tent_lvl_2.png)
}